<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_learn_modes" xml:lang="fr">
  <info>
    <link type="guide" xref="index#getting_started"/>
    <link type="next" xref="howto_keyboard_layout"/>
    <title type="sort">5. Mode « Apprentissage »</title>
    <desc>Découvrir les commandes d’<app>Orca</app></desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Partage des Conditions Initiales à l’Identique 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Laurent Coudeur</mal:name>
      <mal:email>laurentc@iol.ie</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2011-12</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2011, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mickael Albertus</mal:name>
      <mal:email>mickael.albertus@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Charles Monzat</mal:name>
      <mal:email>charles.monzat@free.fr</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>
  <title>Mode « Apprentissage »</title>
  <p>En mode d’apprentissage, <app>Orca</app> annonce chaque combinaison de touches que vous réalisez ainsi que les commandes d’<app>Orca</app> associées. Dans ce mode, vous pouvez également obtenir une liste des raccourcis contenant toutes les commandes d’<app>Orca</app> que vous pouvez utiliser.</p>
  <steps>
    <title>Utilisation du mode d’apprentissage</title>
    <item>
      <p>Pour entrer dans le mode d’apprentissage, appuyez sur : <keyseq><key>Touche de modification d’Orca</key><key>H</key></keyseq>.</p>
    </item>
    <item>
      <p>Appuyez sur une touche ou une combinaison de touches. <app>Orca</app> lit les touches et les commandes associées.</p>
    </item>
    <item>
      <p>Appuyez sur <key>Échap</key> pour quitter le mode d’apprentissage.</p>
    </item>
  </steps>
  <steps>
    <title>Obtenir une liste de raccourcis</title>
    <item>
      <p>Pour entrer dans le mode d’apprentissage, appuyez sur : <keyseq><key>Touche de modification d’Orca</key><key>H</key></keyseq>.</p>
    </item>
    <item>
      <p>Appuyez sur <key>F2</key> si vous voulez la liste des raccourcis qui s’appliquent à <app>Orca</app> de manière générale, ou appuyez sur <key>F3</key> si vous voulez la liste des raccourcis qui s’appliquent spécifiquement à l’application qui a le focus.</p>
    </item>
    <item>
      <p>Appuyez sur <key>Flèche haut</key> ou <key>Flèche bas</key> pour examiner le contenu de la liste.</p>
    </item>
    <item>
      <p>Appuyez sur <key>Échap</key> pour quitter la liste.</p>
    </item>
  </steps>
</page>
