<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="preferences_text_attributes" xml:lang="el">
  <info>
    <link type="guide" xref="preferences#orca"/>
    <link type="next" xref="preferences_gecko"/>
    <link type="seealso" xref="howto_text_attributes"/>
    <title type="sort">8. Γνωρίσματα κειμένου</title>
    <title type="link">Γνωρίσματα κειμένου</title>
    <desc>Ρύθμιση εμφανιζόμενης μορφοποίησης</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name> Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2012-2015</mal:years>
    </mal:credit>
  </info>
  <title>Προτιμήσεις γνωρισμάτων κειμένου</title>
  <p>Ο όρος "γνωρίσματα κειμένου" αναφέρεται σε όλα τα σχετικά με γραμματοσειρά, τεχνοτροπία, στοίχιση και άλλα στοιχεία μορφοποίησης ενός δοσμένου χαρακτήρα ή σειρών χαρακτήρων. Στο <app>Orca</app> η σελίδα <gui>γνωρίσματα κειμένου</gui> επιτρέπει την προσαρμογή ποια γνωρίσματα κειμένου του <app>Orca</app> θα είναι παρόντα στον λόγο, μαζί με τη σειρά παρουσίασης και ποια γνωρίσματα του <app>Orca</app> θα εμφανίζονται σε Μπράιγ.</p>
  <section id="table">
    <title>Ο πίνακας γνωρισμάτων κειμένου</title>
    <p>Ο πίνακας γνωρισμάτων κειμένου είναι εκεί που ορίζετε ποια γνωρίσματα θα εμφανίζονται ή όχι και κάτω από ποιες συνθήκες. Κάθε γραμμή αποτελείται από τέσσερις στήλες.</p>
    <list>
      <item>
        <p>Το <gui>όνομα γνωρίσματος</gui>: Το όνομα του γνωρίσματος κειμένου.</p>
      </item>
      <item>
        <p>
          <gui>Speak</gui>: Check this checkbox if you would like
          <app>Orca</app> to speak this attribute when you press
          <keyseq><key>Orca Modifier</key><key>F</key></keyseq>.
        </p>
      </item>
      <item>
        <p><gui>Σημείωση στο Μπράιγ</gui>: Σημειώστε αυτό το πλαίσιο ελέγχου εάν θα θέλατε το <app>Orca</app> να "υπογραμμίζει" αυτό το γνώρισμα στην εμφάνιση Μπράιγ.</p>
      </item>
      <item>
        <p><gui>παρόν εκτός και</gui>: Αυτό το επεξεργάσιμο πεδίο επιτρέπει τον ορισμό εάν ένα ενεργό γνώρισμα δεν ενδιαφέρει.</p>
        <p>Για παράδειγμα, από προεπιλογή το γνώρισμα κειμένου "υπογράμμιση" έχει μια τιμή "καμία". Αυτό προκαλεί το <app>Orca</app> να σας πληροφορήσει για το υπογραμμισμένο κείμενο όσο το κείμενο είναι στην πραγματικότητα υπογραμμισμένο. Εάν θέλετε πάντοτε αυτό το γνώρισμα να εκφωνείται ανεξάρτητα εάν το κείμενο είναι υπογραμμισμένο ή όχι, η στήλη <gui>παρόν εκτός και</gui> πρέπει να είναι κενή για υπογράμμιση. Επιπλέον, θα πρέπει να βεβαιωθείτε ότι η στήλη <gui>εκφώνηση</gui> για υπογράμμιση είναι σημειωμένη.</p>
      </item>
    </list>
  </section>
  <section id="reset">
     <title>Αναίρεση αλλαγών</title>
     <p>Κάτω από τη λίστα των γνωρισμάτων κειμένου, υπάρχει ένα κουμπί επαναφοράς (<keyseq><key>Alt</key><key>R</key></keyseq>) που θα επαναφέρει τις τιμές του πίνακα σε εκείνες που ήταν όταν ο διάλογος πρωτοεμφανίστηκε.</p>
  </section>
  <section id="rearranging">
     <title>Αναδιάταξη της σειράς παρουσίασης</title>
     <p>Όταν εμφανίζετε αρχικά τη σελίδα γνωρίσματος κειμένου, όλα τα ενεργά γνωρίσματα τοποθετούνται στην κορυφή του πίνακα με τη σειρά εκφώνησης. Υπάρχουν τέσσερα κουμπιά που μπορούν να χρησιμοποιηθούν για αναδιάταξη της σειράς παρουσίασης.</p>
    <list>
      <item>
        <p><gui>μετακίνηση στην κορυφή</gui> (<keyseq><key>Alt</key><key>T</key></keyseq>): μετακινεί το επιλεγμένο γνώρισμα στην κορυφή της λίστας.</p>
      </item>
      <item>
        <p><gui>μετακίνηση μια γραμμή επάνω</gui> (<keyseq><key>Alt</key><key>U</key></keyseq>): μετακινεί το επιλεγμένο γνώρισμα μια γραμμή επάνω.</p>
      </item>
      <item>
        <p><gui>μετακίνηση μια γραμμή κάτω</gui> (<keyseq><key>Alt</key><key>D</key></keyseq>): μετακινεί το επιλεγμένο γνώρισμα μια γραμμή κάτω.</p>
      </item>
      <item>
        <p><gui>μετακίνηση στο τέλος</gui> (<keyseq><key>Alt</key><key>B</key></keyseq>): μετακινεί το επιλεγμένο γνώρισμα στο τέλος της λίστας.</p>
      </item>
    </list>
  </section>
  <section id="braille_indicator">
    <title>Επιλογές για ρύθμιση "υπογράμμισης" Μπράιγ στη μορφοποίηση</title>
    <p>Κάτω από τα κουμπιά πίεσης είναι η ομάδα <gui>δείκτη Μπράιγ</gui> των ραδιοπλήκτρων. Εδώ μπορείτε να επιλέξτε το κελί ή κελιά που θα χρησιμοποιηθούν για να δείξουν κείμενο που έχει τουλάχιστον ένα από τα συγκεκριμένα γνωρίσματα.</p>
    <list>
      <item>
        <p><gui>καμία</gui>: Μην υπογραμμίζετε τα γνωρίσματα κειμένου σε Μπράιγ (η προεπιλογή)</p>
      </item>
      <item>
        <p><gui>κουκκίδα 7</gui>: υπογράμμιση γνωρισμάτων κειμένου μόνο με κουκκίδα 7</p>
      </item>
      <item>
        <p><gui>Κουκκίδα 8</gui>: υπογράμμιση γνωρισμάτων κειμένου μόνο με κουκκίδα 8</p>
      </item>
      <item>
        <p><gui>κουκκίδες 7 και 8</gui>: υπογράμμιση γνωρισμάτων κειμένου και με κουκκίδες 7 και με κουκκίδες 8</p>
      </item>
    </list>
  </section>
</page>
