<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="introduction" xml:lang="sl">
  <info>
    <link type="guide" xref="index#getting_started"/>
    <link type="next" xref="howto_setting_up_orca"/>
    <title type="sort">1. Dobrodošli v Orki</title>
    <desc>Uvod v bralnik zaslona <app>Orka</app></desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons deljenje pod enakimi pogoji 3.0</p>
    </license>
  </info>
  <title>Dobrodošli v Orki</title>
  <p><app>Orka</app> je prost, odprto-koden, prilagodljiv in razširljiv bralnik zaslona, ki zagotavlja dostop do grafičnega namizja preko prilagodljivih kombinacij govora, Braillove pisave in/ali povečave.</p>
  <p>
    <app>Orca</app> works with applications and toolkits that support
    the Assistive Technology Service Provider Interface (AT-SPI), which
    is the primary assistive technology infrastructure for Linux and
    Solaris. Applications and toolkits supporting the AT-SPI include the
    GNOME Gtk+ toolkit, the Java platform's Swing toolkit, LibreOffice,
    Gecko, and WebKitGtk. AT-SPI support for the KDE Qt toolkit is being
    pursued.
  </p>
  <section id="launching">
    <title>Zaganjanje <app>Orke</app></title>
    <p>Za zagon <app>Orke</app>:</p>
    <list>
      <item>
        <p>
          The method for configuring <app>Orca</app> to be launched
          automatically as your preferred screen reader will depend upon
          which desktop environment you use. For instance, in GNOME 3.x
          this option can be found in the Universal Access Control Center
          panel on the <gui>Seeing</gui> page.
        </p>
      </item>
      <item>
        <p>
          To toggle <app>Orca</app> on and off in GNOME, press
          <keyseq><key>Super</key><key>Alt</key><key>S</key></keyseq>.
        </p>
      </item>
      <item>
        <p>Vpišite <cmd>orka</cmd> skupaj z morebitnimi izbirnimi parametri v okno terminala ali v pogovorno okno <gui>Zaženi</gui> in pritisnite <key>Vnosno tipko</key>.</p>
      </item>
    </list>
  </section>
    <section id="loadtime">
      <title>Možnosti časa nalaganja</title>
      <p>
        The following options can be specified when launching <app>Orca</app>
	in a terminal window or within the <gui>Run</gui> dialog:
      </p>
      <list>
        <item>
          <p><cmd>-h</cmd>, <cmd>--help</cmd>: Pokaže sporočilo pomoči</p>
        </item>
        <item>
          <p><cmd>-v</cmd>, <cmd>--version</cmd>: pokaži različico <app>Orke</app></p>
        </item>
        <item>
          <p>
            <cmd>-s</cmd>, <cmd>--setup</cmd>: Set up user preferences
          </p>
        </item>
        <item>
          <p>
            <cmd>-u</cmd>, <cmd>--user-prefs=<em>dirname</em></cmd>:
            Use <em>dirname</em> as the alternate directory for user
            preferences
          </p>
        </item>
        <item>
          <p><cmd>-e</cmd>, <cmd>--enable=<em>možnost</em></cmd>: prisili uporabo možnosti, kjer je <em>možnost</em> lahko nekaj od naslednjega:</p>
          <list>
            <item><p><cmd>govor</cmd></p></item>
            <item><p><cmd>brajica</cmd></p></item>
            <item><p><cmd>braillov-monitor</cmd></p></item>
          </list>
        </item>
        <item>
          <p><cmd>-d</cmd>, <cmd>--disable=<em>možnosti</em></cmd>: prepreči uporabo možnosti, kjer je <em>možnost</em> lahko eno od naslednjega:</p>
          <list>
            <item><p><cmd>govor</cmd></p></item>
            <item><p><cmd>brajica</cmd></p></item>
            <item><p><cmd>braillov-monitor</cmd></p></item>
          </list>
        </item>
        <item>
            <p>
              <cmd>-p</cmd>, <cmd>--profile=<em>filename</em></cmd>:
              Import a profile from a given <app>Orca</app> profile file
            </p>
        </item>
        <item>
          <p>
            <cmd>-r</cmd>, <cmd>--replace</cmd>: Replace a currently-running <app>Orca</app>
          </p>
        </item>
        <item>
          <p><cmd>-l</cmd>, <cmd>--list-apps</cmd>: izpiše znane programe v teku</p>
        </item>
        <item>
          <p><cmd>--debug</cmd>: pošlji izhod razhroščevanja na debug-YYYY-MM-DD-HH:MM:SS.out</p>
        </item>
        <item>
          <p><cmd>--debug-file=<em>imedatoteke</em></cmd>: pošlji izhod razhroščevanja v navedeno datoteko</p>
        </item>
      </list>
    </section>

</page>
