<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="preferences_speech" xml:lang="sl">
  <info>
    <link type="guide" xref="preferences#orca"/>
    <link type="next" xref="preferences_braille"/>
    <title type="sort">2.1 Speech</title>
    <title type="link">Govor</title>
    <desc>
      Configuring what gets spoken
    </desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons deljenje pod enakimi pogoji 3.0</p>
    </license>
  </info>
  <title>Možnosti govora</title>
  <section id="enable_speech">
    <title>Omogoči govor</title>
    <p>Izbirno polje <gui>Omogoči govor</gui> nadzira ali bo <app>Orka</app> uporabila sintetizator govora ali ne. Uporabniki, ki uporabljajo le povečavo ali Braillovo pisavo, bodo to verjetno to želeli onemogočiti.</p>
    <p>Privzeta vrednost: izbrano</p>
  </section>
  <section id="verbosity">
    <title>Razločnost</title>
    <p>Nastavitev <gui>Razločnost</gui> določi količino podatkov, ki je izgovorjena v določenih situacijah. Na primer, če je nastavljeno na podrobno, bo <app>Orka</app> izgovorila tipkovne bližnjice za predmete v menijih. Ko je nastavljena na kratko, tipkovne bližnjice niso oznanjene.</p>
    <p>Privzeta vrednost: <gui>Podrobno</gui></p>
  </section>
  <section id="punctuation_level">
    <title>Raven ločil</title>
    <p>Skupino izbirnih gumbov <gui>Raven ločil</gui> lahko uporabite za prilagajanje količine ločil, ki jih izgovori sintetizator. Razpoložljive ravni so <gui>Brez</gui>, <gui>Nekaj</gui>, <gui>Večina</gui> in <gui>Vsa</gui>.</p>
    <p>Privzeta vrednost: <gui>Večina</gui></p>
    <section id="punctuation_level_none">
      <title>Brez</title>
      <p>
        Choosing a punctuation level of <gui>None</gui> would, as you expect,
        cause no punctuation to be spoken. Note, however, that special symbols
        such as subscripted and superscripted numbers, Unicode fractions, and
        bullets are still spoken at this level, even though some might consider
        these types of symbols punctuation.
      </p>
    </section>
    <section id="punctuation_level_some">
      <title>Nekatera</title>
      <p>Izbira ravni ločil <gui>Nekaj</gui> določi izgovorjavo vseh predhodno omenjenih simbolov. Poleg tega <app>Orka</app> izgovori znane matematične simbole, simbole enot in  "^", "@", "/", "&amp;", "#".</p>
    </section>
    <section id="punctuation_level_most">
      <title>Večina</title>
      <p>Izbira ravni loči <gui>Večina</gui> izgovori vse predhodno omenjene simbole. Poleg tega bo <app>Orka</app> izgovorila vse druge simbole ločil <em>razen</em>  "!", "'", ",", ".", "?".</p>
    </section>
    <section id="punctuation_level_all">
      <title>Vsa</title>
      <p>Izbira ravni ločil <gui>Vse</gui> določi, da <app>Orka</app> izgovori vse znane simbole ločil.</p>
    </section>
  </section>
  <section id="spoken_context">
    <title>Spoken Context</title>
    <p>Naslednji predmeti nadzirajo predstavitev dodatnih, "sistemskih" podatkov o predmetu z žariščem. Ker se povezano besedilo ne pojavi na zaslonu, so ti podatki predstavljeni v <app>Orkinem</app> sistemskem zvoku.</p>
    <section id="only_speak_displayed_text">
      <title>Izgovori le prikazano besedilo</title>
      <p>Izbira izbirnega polja določi, da <app>Orka</app> izgovori le besedilo prikazano na zaslonu. Ta možnost je namenjena predvsem za slabovidne uporabnike in uporabnike z nezmožnostjo učenja vida.</p>
      <p>Prikazana vrednost: ni izbrano</p>
      <note style="note">
        <p>
          The following items will not be available for configuration if
          the <gui>Only speak displayed text</gui> checkbox is checked.
        </p>
      </note>
    </section>
    <section id="speak_blank_lines">
      <title>Izgovorite prazne vrstice</title>
      <p>V primeru, da je izbirno polje <gui>Izgovori prazne vrstice</gui>, bo <app>Orka</app> rekla "prazno" vsakič, ko pridete do prazne vrstice. Če polje ni izbrano, <app>orka</app> ob premiku na prazno vrstico ne bo rekla ničesar.</p>
      <p>Privzeta vrednost: izbrano</p>
    </section>
    <section id="indentation_and_justification">
      <title>Izgovarite zamik in poravnavo</title>
      <p>Pri delu s kodo ali urejanju dokumentov je pogosto dobro vedeti, kje so poravnave in zamiki. Izbira izbirnega polja <gui>Izgovarjanje zamikov in poravnav</gui> bo povzročila, da bo <app>Orka</app> oznanila ta podatke.</p>
      <p>Prikazana vrednost: ni izbrano</p>
    </section>
    <section id="speak_misspelled_word_indicator">
      <title>Speak misspelled-word indicator</title>
      <p>
        The misspelled-word indicator is the red squiggly line that appears
        underneath misspelled words in editable text fields. If <gui>Speak
        misspelled-word indicator</gui> is checked, when you navigate into
        a word with this indicator, or type a word incorrectly causing this
        indicator to appear, <app>Orca</app> will speak "misspelled."
      </p>
      <p>Privzeta vrednost: izbrano</p>
    </section>
    <section id="mnemonics">
     <title>Izgovorite mnemotehniko predmeta</title>
      <p>V primeru da je izbirno polje <gui>Izgovori mnemotehniko predmeta</gui> izbrano, bo <app>Orka</app> oznanila mnemotehniko, povezano s predmetom s pozornostjo (kot je <keyseq><key>Izmenjalka</key><key>O</key></keyseq> za gumb <gui>V redu</gui>). </p>
      <p>Prikazana vrednost: ni izbrano</p>
    </section>
    <section id="child_position">
      <title>Izgovorite položaj podrejenega predmeta</title>
      <p>Izbira izbirnega polja <gui>Izgovori položaj podrejenega predmeta</gui> določi, da <app>Orka</app> oznani položaj predmeta v žarišču v menijih, seznamih in drevesih (na primer "9 od 16").</p>
      <p>Prikazana vrednost: ni izbrano</p>
    </section>
    <section id="speak_tutorial_messages">
      <title>Izgovorite sporočila vodnika</title>
      <p>V primeru, da je izbirno polje <gui>Izgovori sporočila vodnika</gui> izbrano, bo <app>Orka</app> med pomikanjem med predmeti po vmesniku  zagotovila dodatne podrobnosti kot sta kako se sporazumevati s predmetom, ki je trenutno v žarišču.</p>
      <p>Prikazana vrednost: ni izbrano</p>
    </section>
    <section id="speak_description">
      <title>Speak description</title>
      <p>
        If the <gui>Speak description</gui> checkbox is checked, as
        you move amongst objects in an interface, <app>Orca</app> will
        speak the accessible description in addition to the accessible
        name of the object.
      </p>
      <p>Privzeta vrednost: izbrano</p>
    </section>
    <section id="system_messages_are_detailed">
      <title>System messages are detailed</title>
      <p>
        If <gui>System messages are detailed</gui> is checked, <app>Orca</app> will
        present detailed messages to you in speech. For instance, if you use
        <app>Orca</app>'s command to change key echo, <app>Orca</app> might
        speak "Key echo set to word." If you would prefer shorter messages,
        such as simply "word," you should uncheck this checkbox.
      </p>
      <p>Privzeta vrednost: izbrano</p>
    </section>
    <section id="speak_colors_as_names">
      <title>Speak colors as names</title>
      <p>
        If <gui>Speak colors as names</gui> is checked, <app>Orca</app> will
        describe colors, looking for the closest approximate. For instance,
        RGB 0, 27, 51 would be spoken as "midnight blue." If you would prefer
        to hear the exact RGB value, you should uncheck this checkbox.
      </p>
      <p>Privzeta vrednost: izbrano</p>
    </section>
    <section id="announce_blockquotes_during_navigation">
      <title>Announce blockquotes during navigation</title>
      <p>
        If <gui>Announce blockquotes during navigation</gui> is checked,
        <app>Orca</app> will tell you when you navigate into or out of a
        blockquote. Note that this setting is independent of whether or not
        this announcement is made during Say All. See
        <link xref="preferences_general#say_all_announce_context">Announce
        Contextual Information in Say All</link> for more information.
      </p>
      <p>Privzeta vrednost: izbrano</p>
    </section>
    <section id="announce_forms_during_navigation">
      <title>Announce forms during navigation</title>
      <p>
        If <gui>Announce forms during navigation</gui> is checked,
        <app>Orca</app> will tell you when you navigate into or out of a
        form. Note that this setting is specific to forms which are not
        ARIA landmarks. You can configure the presentation of ARIA landmarks
        through the <gui>Announce landmarks during navigation</gui> checkbox.
        In addition, note that this setting is independent of whether or not
        this announcement is made during Say All. See
        <link xref="preferences_general#say_all_announce_context">Announce
        Contextual Information in Say All</link> for more information.
      </p>
      <p>Privzeta vrednost: izbrano</p>
    </section>
    <section id="announce_landmarks_during_navigation">
      <title>Announce landmarks during navigation</title>
      <p>
        If <gui>Announce landmarks during navigation</gui> is checked,
        <app>Orca</app> will tell you when you navigate into or out of an
        ARIA landmark. Note that this setting is independent of whether or not
        this announcement is made during Say All. See
        <link xref="preferences_general#say_all_announce_context">Announce
        Contextual Information in Say All</link> for more information.
      </p>
      <p>Privzeta vrednost: izbrano</p>
    </section>
    <section id="announce_lists_during_navigation">
      <title>Announce lists during navigation</title>
      <p>
        If <gui>Announce lists during navigation</gui> is checked,
        <app>Orca</app> will tell you when you navigate into or out of a
        list. Note that this setting is independent of whether or not
        this announcement is made during Say All. See
        <link xref="preferences_general#say_all_announce_context">Announce
        Contextual Information in Say All</link> for more information.
      </p>
      <p>Privzeta vrednost: izbrano</p>
    </section>
    <section id="announce_panels_during_navigation">
      <title>Announce panels during navigation</title>
      <p>
        If <gui>Announce panels during navigation</gui> is checked,
        <app>Orca</app> will tell you when you navigate into or out of a
        panel. Note that this setting is independent of whether or not
        this announcement is made during Say All. See
        <link xref="preferences_general#say_all_announce_context">Announce
        Contextual Information in Say All</link> for more information.
      </p>
      <p>Privzeta vrednost: izbrano</p>
    </section>
    <section id="announce_tables_during_navigation">
      <title>Announce tables during navigation</title>
      <p>
        If <gui>Announce tables during navigation</gui> is checked,
        <app>Orca</app> will tell you when you navigate into or out of a
        table. Note that this setting is independent of whether or not
        this announcement is made during Say All. See
        <link xref="preferences_general#say_all_announce_context">Announce
        Contextual Information in Say All</link> for more information.
      </p>
      <p>Privzeta vrednost: izbrano</p>
    </section>
    <section id="read_full_row_in_gui_tables">
      <title>Read full row in GUI tables</title>
      <p>
        If <gui>Read full row in GUI tables</gui> is checked, as you arrow up
        and down in application tables such as the list of messages in your
        Inbox, <app>Orca</app> will speak the entire row. If you would prefer
        to hear only the cell with focus, you should uncheck this checkbox.
      </p>
      <p>Privzeta vrednost: izbrano</p>
    </section>
    <section id="read_full_row_in_document_tables">
      <title>Read full row in document tables</title>
      <p>
        If <gui>Read full row in document tables</gui> is checked, as you arrow
        up and down in tables such as those found in <app>Writer</app> and web
        documents, <app>Orca</app> will speak the entire row. If you would prefer
        to hear only the cell with focus, you should uncheck this checkbox.
      </p>
      <p>Privzeta vrednost: izbrano</p>
    </section>
    <section id="read_full_row_in_spreadsheets">
      <title>Read full row in spreadsheets</title>
      <p>
        If <gui>Read full row in spreadsheets</gui> is checked, as you arrow
        up and down in spreadsheets, <app>Orca</app> will speak the entire
        row. If you would prefer to hear only the cell with focus, you should
        uncheck this checkbox.
      </p>
      <p>Prikazana vrednost: ni izbrano</p>
    </section>
  </section>
</page>
