<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="commands_braille" xml:lang="es">
  <info>
    <link type="next" xref="commands_reading"/>
    <link type="guide" xref="commands#speech_braille"/>
    <link type="seealso" xref="preferences_braille"/>
    <title type="sort">2. Braille</title>
    <title type="link">Braille</title>
    <desc>Comandos ejecutables en dispositivos Braille</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2020</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>
  <title>Comandos de Braille</title>
  <p>Los siguientes comandos le permiten controlar <app>Orca</app> desde su dispositivo Braille actualizable, en lugar de desde su teclado:</p>
  <list>
    <item><p>Aplicar una panorámica a la línea braille a la izquierda: línea izquierda</p></item>
    <item><p>Aplicar una panorámica a la línea braille a la derecha: línea derecha</p></item>
    <item><p>Conmutar el modo de revisión plano: desactivar</p></item>
    <item><p>Revisar la palabra encina: línea arriba</p></item>
    <item><p>Revisar la palabra debajo: línea abajo</p></item>
    <item><p>Revisar la parte inferior izquierda: abajo derecha</p></item>
    <item><p>Revisar la posición inicial: arriba izquierda</p></item>
    <item><p>Braille contraído: seis puntos</p></item>
    <item><p>Marca el principio de una selección de texto: inicio del corte</p></item>
    <item><p>Marca el final de una selección de texto: línea cortada</p></item>
    <item><p>Procesa una tecla de enrutado del cursor: enrutado del cursor</p></item>
    <item><p>Devuelve el objeto con el foco del teclado: la posición del cursor</p></item>
  </list>
</page>
